.error {
	color: red;
	font-weight: bold;
}

.highlight {
	padding: 9px 14px;
	margin-bottom: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}

header.marquee {
  padding: 50px 0;
  text-align: center;
  color: #fff;
  background-color: #b84d45;
}