<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:fragment="title">新建用户</title>
</head>

<body>
<div class="main" th:fragment="content">
	<h2>检索用户</h2>
	<p>指定信息，检索用户信息。</p>


<div class="row">
	<div class="col-md-12">

		<form action="#" th:action="@{/user/search}" th:object="${searchForm}" method="post" class="form-inline">
			<div class="form-group">			
				<input type="text" class="form-control" th:field="*{email}" th:placeholder="#{userForm.email}" />
				<input type="text" class="form-control" th:field="*{username}" th:placeholder="#{userForm.username}" />
				<input type="text" class="form-control" th:field="*{birthday}" th:placeholder="#{userForm.birthday}" />
	
				<select class="form-control" th:field="*{sex}" >
				  <option th:each="sex : ${sexTypes}" th:value="${sex.key}" th:text="${sex.value}"></option>
				</select>
				
				<select class="form-control" th:field="*{hobby}" >
				  <option th:each="hobby : ${allHobbys}" th:value="${hobby.key}" th:text="${hobby.value}"></option>
				</select>
	
				<input type="text" class="form-control" th:field="*{memo}" th:placeholder="#{userForm.memo}" />
				
				<button type="submit" class="btn btn-primary" th:text="#{button.search}"></button>
			</div>
		</form>
	</div>
</div>


	<br/>
	<br/>
	<br/>

		<div class="panel panel-primary">
		  <!-- Default panel contents -->
		  <div class="panel-heading">检索结果</div>
		  <div class="panel-body">
			<p>用户详细信息</p>
		  </div>
		  
		  <div class="table-responsive">
		  
			<table class="table table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<td>#</td>
						<td>Email</td>
						<td>UserName</td>
						<td>Password</td>
						<td>Birthday</td>
						<td>Sex</td>
						<td>Hobbys</td>
						<td>Create User</td>
						<td>Create Time</td>
						<td>Update User</td>
						<td>Update Time</td>
					</tr>
				</thead>
				<tbody>
					<!-- http://www.thymeleaf.org/doc/articles/springmvcaccessdata.html -->
					<tr th:each="user : ${users}">
					    <td th:text="${user.id}"></td>
					    <td th:text="${user.email}"></td>
					    <td th:text="${user.username}"></td>
					    <td th:text="${user.password}"></td>
					    <td th:text="${user.birthday}"></td>
					    <td th:text="${user.sex}"></td>
					    <td th:text="${user.hobbys}"></td>
					    <td th:text="${user.createUser.username}"></td>
					    <td th:text="${user.createTime}"></td>
					    <td th:text="${user.updateUser.username}"></td>
					    <td th:text="${user.updateTime}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


</div>


</body>
</html>
