<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- 注解扫描包 -->  
	<context:component-scan base-package="com.dotuian.springmvc" />
	
	<!-- 开启注解 -->
	<mvc:annotation-driven>
		<!--  让输入的Json字符串格式化 -->
		<mvc:message-converters>
			<bean id="jacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="prettyPrint" value="true" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 静态资源访问 -->  
	<mvc:resources mapping="/resources/**" location="/resources/" />

	
	<!-- PDF试图解析器 -->
	<!-- ResourceBundleViewResolver: to resolve view names specified in the views.properties file  -->
	<bean id="pdfViewResolver" class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
        <property name="order" value="1"/>
        <property name="basename" value="views"/>
    </bean>
	
	<!-- 定义视图解析器 -->
	<bean id="templateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">  
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".html" />
        <property name="templateMode" value="HTML5" />  
        <property name="cacheable" value="false" />
        <!-- 模板文件编码 -->
        <property name="characterEncoding" value="UTF-8" />
    </bean>  

	<bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
		<property name="templateResolver" ref="templateResolver" />
	</bean>
	   
	<bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="templateEngine" />
		<!-- 属性文件编码 -->
		<property name="characterEncoding" value="UTF-8" />
		<property name="order" value="2" />
	</bean>
	
	<bean name="main" class="org.thymeleaf.spring4.view.ThymeleafView">
		<property name="staticVariables">
			<map>
				<entry key="footer" value="Some company: &lt;b&gt;ACME&lt;/b&gt;" />
			</map>
		</property>
	</bean>

	<!-- 视图解析器(a JSP+JSTL ViewResolver in a Spring MVC application)  -->
	<!-- 
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="viewNames" value="jsp/*" />
		<property name="suffix" value=".jsp" />
		<property name="order" value="2" />
	</bean>
	 -->


	<!--  -->	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages" />
		<property name="defaultEncoding" value="UTF-8"/>
	</bean>
	
	<!-- 
	<bean id="messageSource"
	    class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
	    <property name="basename" value="classpath:src/main/resources/messages" />
	    <property name="defaultEncoding" value="UTF-8" />
	</bean>
	 -->
	
	
	<!-- 自定义实现接口HandlerExceptionResolver的异常处理 -->
	<bean id="exceptionHandler" class="com.dotuian.springmvc.common.exception.MyExceptionHandler"/> 

</beans>
