<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Servlet 3.0 Web Application</display-name>
	
	
	<!-- 
		如果一个参数为整个web应用所用，那么就配置为ServletContext参数: context-param
		如果一个参数仅为一个Servlet所用，那么就应该配置为ServletConfig参数:  servlet / init-param
	 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
	    	/WEB-INF/config/applicationContext.xml,
	    	/WEB-INF/config/spring-*.xml
    	</param-value>
	</context-param>
	
	
	<!-- 过滤器定义 -->
	<filter>
		<filter-name>AuthorizationFilter</filter-name>
		<filter-class>com.dotuian.springmvc.common.filters.AuthorizationFilter</filter-class>
		<init-param>
			<param-name>login</param-name>
			<param-value>/site/login</param-value>
		</init-param>
	</filter>
	<!-- 过滤器映射 -->
	<filter-mapping>
		<filter-name>AuthorizationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<!-- 过滤器定义 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<!-- 过滤器映射 -->
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<!-- 监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.dotuian.springmvc.common.listeners.OnlineUserCountListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	
	
	<!-- Spring MVC Servlet分发器定义 -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- Spring MVC Servlet映射 -->
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
		<url-pattern>/site/login</url-pattern>
	</servlet-mapping>
	
	
	<!-- error-code 相关的错误页面 -->
	<error-page>
		<error-code>500</error-code>
		<location>/site/error500.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/site/error404.html</location>
	</error-page>

	<!-- exception-type 相关的错误页面 -->
	<!-- 
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/views/error/500.html</location>
	</error-page>
	 -->
	
	<!--  -->
	<welcome-file-list>
		<welcome-file>site/login</welcome-file>
	</welcome-file-list>
	
	<!-- 配置Session超时时间(10分钟) -->
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>

	
	
	
	
	
	
	
	
	
	
	
	
	
</web-app>