<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<footer th:fragment="footer">
		<div class="container">
			<hr/>
			<div class="row">
				<div class="col-md-6 footer-left">
					<ul class="list-inline">
						<li><a th:href="@{/}">Home</a></li>
						<li><a th:href="@{/all-templates}">Themes</a></li>
						<li><a href="http://startbootstrap.tumblr.com/">Blog</a></li>
						<li><a th:href="@{/bootstrap-resources}">Resources</a></li>
						<li><a th:href="@{/help}">Help</a></li>
						<li><a th:href="@{/contact}">Contact</a></li>
					</ul>
					<p>
						<a href="https://twitter.com/SBootstrap"
							class="twitter-follow-button" data-show-count="false"
							data-lang="en">Follow @SBootstrap</a> <a
							href="https://twitter.com/share" class="twitter-share-button"
							data-url="http://startbootstrap.com" data-via="SBootstrap"
							data-lang="en">Tweet</a> <br /> <span class="g-follow"
							data-annotation="bubble" data-height="20"
							data-href="//plus.google.com/116841216196186745329"
							data-rel="publisher"></span> <span class="g-plusone"
							data-size="medium" data-href="http://startbootstrap.com/"></span>
						<br />
					</p>
				</div>
				<div class="col-md-6 footer-right">
					<p>
						<a href="http://www.startbootstrap.com">Start Bootstrap</a> is a
						project maintained by <a href="http://www.ironsummitmedia.com">Iron
							Summit Media Strategies</a>.
					</p>
					<p>
						Bootstrap CDN by <a
							href="http://tracking.maxcdn.com/c/99191/3982/378"><img
							src="/assets/img/maxcdn-logo.png" alt="MaxCDN Logo" /></a>
					</p>
					<p>
						Hosted on <a href="https://pages.github.com/"><img
							src="/assets/img/gh-pages-logo.png" alt="GitHub Pages Logo" /></a>
					</p>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-lg-12 footer-below">
					<p>
						Themes and templates licensed under the <a
							href="http://www.apache.org/licenses/LICENSE-2.0">Apache
							License v2.0</a>. <br />Based on <a href="http://getbootstrap.com/">Bootstrap</a>.
					</p>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>
